﻿@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.hs-esslingen.de/" target="_blank">HS-Esslingen</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
