﻿@page "/"
@using TodoFrontend.Data
@using TodoFrontend.Models
@inject ApiService ApiService

<PageTitle>Todo List</PageTitle>

<h1>Todo Rock'r</h1>

Rock your Todos and never lose out!

<h2>Your open todos:</h2>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
    <table class="table">
        <thead>
        <tr>
            <th></th> 
            <th>Priority</th>
            <th>Todo</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in data)
        {
            <tr>
                <td><input type="checkbox" @bind="selectedItems[item.id]" /></td>
                <td>@item.priority</td>
                <td>@item.todo</td>
            </tr>
        }
        </tbody>
    </table>
     </div>
    <div>
        <button @onclick="DeleteSelectedItems">Delete Selected</button>
    </div>
    
    <div class="separator"></div>
    
    <div>
<h3>Add New Todo</h3>
<div style="display: flex; align-items: flex-end;">
    <div style="margin-right: 20px;">
        <label for="todoText">Todo item:</label><br/>
        <input id="todoText" type="text" @bind="newTodo.todo" placeholder="Todo Text" />
    </div>
    <div style="margin-right: 20px;">
        <label for="todoPriority">Priority:</label><br/>
        <input id="todoPriority" type="number" @bind="newTodo.priority" placeholder="Priority (Optional)" />
    </div>
    <div>
        <button @onclick="AddTodo">Add Todo</button>
    </div>
</div>

    </div>
}


@code {
    List<TodoItem> data = new List<TodoItem>();
    TodoItem newTodo = new TodoItem();
    Dictionary<long, bool> selectedItems = new Dictionary<long, bool>();

    async Task AddTodo()
    {
        var response = await ApiService.PostToApiAsync("api/v1/todos/", newTodo);

        if (response.IsSuccessStatusCode)
        {
            TodoItem responseItem = await response.Content.ReadFromJsonAsync<TodoItem>();

            if (responseItem != null)
            {
                data.Add(responseItem);
                selectedItems[responseItem.id] = false;
            }

            newTodo = new TodoItem();
        }
    }

    private async Task FetchDataAndUpdateSelectedItems()
    {
        data = await ApiService.GetFromApiAsync("api/v1/todos/");
        foreach (var item in data)
        {
            if(!selectedItems.ContainsKey(item.id))
            {
                selectedItems[item.id] = false;
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await FetchDataAndUpdateSelectedItems();
    }

    private async Task DeleteSelectedItems()
    {
        var itemsToDelete = selectedItems.Where(kvp => kvp.Value).Select(kvp => kvp.Key).ToList();
        foreach (var itemId in itemsToDelete)
        {
            await ApiService.DeleteTodoAsync(itemId);
            selectedItems.Remove(itemId);
        }
        await FetchDataAndUpdateSelectedItems();
    }


}